## Scraping Data from F1 website

In [1]:
# Importing required libraries

import bs4 as bs
import pandas as pd
import urllib.request
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
yearly_stats_df = pd.DataFrame(columns=['Pos', 'Driver', 'Nationality', 'Car', 'PTS', 'Year'])


for year in range(1950, 2023):
# year = 1950
    website = urllib.request.urlopen(f'https://www.formula1.com/en/results.html/{year}/drivers.html').read()
    soup = bs.BeautifulSoup(website, 'lxml')
    data = soup.find_all('table')[0]
    df = pd.read_html(str(data), flavor='bs4', header=[0])[0]
    df.drop(["Unnamed: 0", "Unnamed: 6"], axis=1, inplace=True)
    df['Year'] = year
    yearly_stats_df = pd.concat([yearly_stats_df, df], axis=0)

In [44]:
yearly_stats_df['Car'] = yearly_stats_df['Car'].replace({np.NAN : 'NO Car Name'})

In [47]:
yearly_stats_df[yearly_stats_df['Car'] == ('NO Car Name')]

   Pos                  Driver Nationality          Car  PTS  Year
16  13     Dorino Serafini SER         ITA  NO Car Name    3  1950
17  13  Philippe Etancelin ETA         FRA  NO Car Name    3  1950
21  20      Eugene Chaboud CHA         FRA  NO Car Name    1  1950
13  12        Louis Rosier ROS         FRA  NO Car Name    3  1951
12  13         Ken Wharton WHA         GBR  NO Car Name  3.0  1952
24  18      Masten Gregory GRE         USA  NO Car Name    0  1963
29  18       Mike Hailwood HAI         GBR  NO Car Name    0  1963
12  13     Richard Attwood ATT         GBR  NO Car Name    3  1969
1    2     Ronnie Peterson PET         SWE  NO Car Name   33  1971
15  16        Mark Donohue DON         USA  NO Car Name    4  1971
16  16     Henri Pescarolo PES         FRA  NO Car Name    4  1971

In [40]:
cars = yearly_stats_df['Car'].unique()
cars

array(['Alfa Romeo', 'Talbot-Lago', 'Ferrari', 'Kurtis Kraft Offenhauser',
       'Deidt Offenhauser', 'Maserati', 'Simca-Gordini', nan,
       'Maserati Milano', 'BRM', 'Sherman Offenhauser',
       'Schroeder Offenhauser', 'Cooper Bristol', 'Gordini',
       'Kuzma Offenhauser', 'Lesovsky Offenhauser',
       'Connaught Lea Francis', 'Mercedes-Benz', 'Lancia',
       'Watson Offenhauser', 'Connaught Alta', 'Phillips Offenhauser',
       'Vanwall', 'Kurtis Kraft Novi', 'Epperly Offenhauser',
       'Cooper Climax', 'Lotus Climax', 'Cooper Maserati',
       'Cooper Castellotti', 'Trevis Offenhauser', 'Porsche',
       'BRM Climax', 'Lola Climax', 'Brabham Climax', 'Lotus BRM',
       'BRP BRM', 'Scirocco BRM', 'ATS', 'Gilby BRM', 'Stebro Ford',
       'LDS Alfa Romeo', 'Lotus Ford', 'Brabham Ford', 'Brabham BRM',
       'Honda', 'Brabham Repco', 'Eagle Climax', 'Eagle Weslake',
       'McLaren Ford', 'McLaren BRM', 'Matra Ford', 'Matra', 'Cooper BRM',
       'Tyrrell Ford', 'March Ford', 'Surtees Ford', 'Iso Marlboro Ford',
       'Shadow Ford', 'Hesketh Ford', 'Lola Ford',
       'Frank Williams Racing Cars/Williams', 'Parnelli Ford',
       'Hill Ford', 'Ensign Ford', 'Penske Ford', 'Ligier Matra',
       'Brabham Alfa Romeo', 'Fittipaldi Ford', 'Wolf-Williams',
       'Wolf Ford', 'Williams Ford', 'Arrows Ford', 'Renault',
       'Ligier Ford', 'ATS Ford', 'Theodore Ford', 'Brabham BMW',
       'Osella Ford', 'Williams Honda', 'McLaren TAG', 'Lotus Renault',
       'Toleman Hart', 'Arrows BMW', 'Ligier Renault',
       'Osella Alfa Romeo', 'Tyrrell Renault', 'Benetton BMW',
       'Lotus Honda', 'Benetton Ford', 'Arrows Megatron', 'Zakspeed',
       'Ligier Megatron', 'AGS Ford', 'McLaren Honda', 'March Judd',
       'Williams Judd', 'Rial Ford', 'Minardi Ford', 'Williams Renault',
       'Lotus Judd', 'Onyx Ford', 'Lola Lamborghini', 'Dallara Ford',
       'Brabham Judd', 'Leyton House Judd', 'Lotus Lamborghini',
       'Tyrrell Honda', 'Jordan Ford', 'Minardi Ferrari', 'Dallara Judd',
       'Brabham Yamaha', 'Leyton House Ilmor', 'Tyrrell Ilmor',
       'Footwork Mugen Honda', 'March Ilmor', 'Dallara Ferrari',
       'Jordan Yamaha', 'Minardi Lamborghini', 'Venturi Lamborghini',
       'Sauber', 'Larrousse Lamborghini', 'Jordan Hart',
       'McLaren Peugeot', 'Tyrrell Yamaha', 'Sauber Mercedes',
       'Footwork Ford', 'Lotus Mugen Honda', 'Larrousse Ford',
       'Benetton Renault', 'McLaren Mercedes', 'Ligier Mugen Honda',
       'Sauber Ford', 'Jordan Peugeot', 'Footwork Hart',
       'Prost Mugen Honda', 'Sauber Petronas', 'Arrows Yamaha',
       'Stewart Ford', 'Williams Mecachrome', 'Jordan Mugen Honda',
       'Benetton Playlife', 'Arrows', 'Prost Peugeot',
       'Williams Supertec', 'Williams BMW', 'BAR Honda',
       'Arrows Supertec', 'Jaguar Cosworth', 'Minardi Fondmetal',
       'Jordan Honda', 'Prost Acer', 'Arrows Asiatech',
       'Minardi Asiatech', 'Toyota', 'Arrows Cosworth',
       'Minardi Cosworth', 'RBR Cosworth', 'Jordan Toyota', 'Sauber BMW',
       'RBR Ferrari', 'Williams Cosworth', 'STR Cosworth', 'MF1 Toyota',
       'Super Aguri Honda', 'Williams Toyota', 'Red Bull Renault',
       'STR Ferrari', 'Spyker Ferrari', 'Force India Ferrari',
       'Brawn Mercedes', 'RBR Renault', 'Force India Mercedes',
       'Mercedes', 'Sauber Ferrari', 'Lotus Cosworth', 'HRT Cosworth',
       'Virgin Cosworth', 'Red Bull Racing Renault', 'Caterham Renault',
       'Marussia Cosworth', 'Williams Mercedes', 'STR Renault',
       'Marussia Ferrari', 'Lotus Mercedes', 'Red Bull Racing TAG Heuer',
       'Toro Rosso Ferrari', 'Haas Ferrari', 'MRT Mercedes', 'Toro Rosso',
       'McLaren Renault', 'Scuderia Toro Rosso Honda',
       'Red Bull Racing Honda', 'Racing Point BWT Mercedes',
       'Alfa Romeo Racing Ferrari', 'AlphaTauri Honda', 'Alpine Renault',
       'Aston Martin Mercedes', 'Red Bull Racing RBPT',
       'Alfa Romeo Ferrari', 'Aston Martin Aramco Mercedes',
       'AlphaTauri RBPT'], dtype=object)

In [48]:
yearly_stats_df

,Pos,Driver,Nationality,Car,PTS,Year
0,1,Nino Farina FAR,ITA,Alfa Romeo,30,1950
1,2,Juan Manuel Fangio FAN,ARG,Alfa Romeo,27,1950
2,3,Luigi Fagioli FAG,ITA,Alfa Romeo,24,1950
3,4,Louis Rosier ROS,FRA,Talbot-Lago,13,1950
4,5,Alberto Ascari ASC,ITA,Ferrari,11,1950
...,...,...,...,...,...,...
17,18,Zhou Guanyu ZHO,CHN,Alfa Romeo Ferrari,6,2022
18,19,Alexander Albon ALB,THA,Williams Mercedes,4,2022
19,20,Nicholas Latifi LAT,CAN,Williams Mercedes,2,2022
20,21,Nyck De Vries DEV,NED,Williams Mercedes,2,2022
21,22,Nico Hulkenberg HUL,GER,Aston Martin Aramco Mercedes,0,2022